.main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    background-color: #fafafa;
    .content {
        padding-top: 45px;
        width: calc(100% - 200px);
    }
}
.container {
    padding: 0 100px;
    position: relative;
}
